<%- include('./partials/navbar') %>

<div class="container yoo my-5">
            
  <hr style="color:white;">
  <h3 class="text-white">Result</h3>
  <hr style="color:white;">
  
      <div class="row align-items-center justify-content-center">
        <% if(findusers != "") { %>
            <% for(const element of findusers){  %>
              <div class="col-6 col-sm-4 col-lg-3 card bg-dark text-light m-3" style="width: 18rem;">
                <img src="<%- element.image %>" class="card-img-top contain_img"  onerror="this.onerror=null; this.src='../images/user2.png'" height="120px" alt="...">
                <div class="card-body">
                  <h5 class="card-title"> <%- element.username %></h5>
                  <p class="card-text">Hey, It's <%- element.name %> , I am from  <%- element.college %> to know more about me check out my profile  </p>
                </div>
              <div class="card-body">
                <a href="/student/<%- element.username %>"><button class="btn btn-outline-primary"> View profile </button> </a>
              </div>
            </div>
            <% } %>
            <% }else{ %>
              <h4 class="p-3 m-3 text-center bg-info bg-opacity-10 border border-info border-start-0 border-end-0 rounded" style="font-style: italic; color: white;">Your branch-mate Don't know about this web let them know</h4>
              <% } %>
      </div>
</div>