<header>
    <%- include('./partials/navbar') %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap" rel="stylesheet">
</header>
<style>
  body{

    color:black ;
  }

</style>
<div class="container yoo" >
      
  <div class="row imagesize d-flex justify-content-center  align-items-center">
      <div class="col-8 bg-dark bg-opacity-50 rounded col-sm-6 d-flex justify-content-center col-lg-4 my-3 border border-start-0 border-end-0 ">
          <img src="<%- user.image %>" class=" sizing img-fluid" alt="Image not available" onerror="this.onerror=null; this.src='../images/user2.png'">
      </div>
  </div>
  <div style="font-family: 'Barlow', sans-serif;" class="row my-3 p-3 bg-dark bg-opacity-75 border border-info border-start-0 border-end-0 rounded text-light m-1 p-2">
      <h3>Hello, my name is <%- user.name %> <%- user.last %></h3>
      <div class="col-6">
          <h4 class="te">year : <%- user.year %></h4>
      </div>
      <div class="col-6">
          <h4><u>Branch</u> : <%- user.branch %> </h4>
      </div>
      <div class="col-6">
        <h4><u>College</u> : <%- user.college %> </h4>
      </div>
      <div class="col-6">
        <h4>Hometown : katni </h4>
      </div>
      <hr class="text-light">
      <h3>I play</h3>
      <ul class="ps-5">
          <% if(user.sports != "") { %>
              <% for(const element of user.sports){  %>
                <li>
                  <h5> <%- element %> </h5>
                </li>  
                <% } %>
                <% } %>
      </ul>
      <hr class="text-light">
      <h3>My Skills includes</h3>
      <ul class="ps-5">
          <% if(user.skills != "") { %>
              <% for(const element of user.skills){  %>
                <li>
                  <h5><%- element %></h5>
                </li>  
                <% } %>
                <% } %>
      </ul>
      <hr class="text-light">
      <h3>I also do</h3>
      <ul class="ps-5">
        <% if(user.extra != "") { %>
          <% for(const element of user.extra){  %>
            <li>
              <h5> <%- element %> </h5>
            </li>  
            <% } %>
            <% } %>
          </ul>

      <hr class="text-light">
      <h3>Clubs i am part of</h3>
      <ul class="ps-5">
          <% if(user.clubs != "") { %>
              <% for(const element of user.clubs){  %>
                <li>
                  <h5> <%- element %> </h5>
                </li>  
                <% } %>
                <% } %>
      </ul>
  </div>

</div>