<header>
    <%- include('./partials/navbar') %>
</header>
<style>

  body{

    color:black ;
  }

</style>
<div class="container yoo" >
      
  <div class="row imagesize d-flex justify-content-center  align-items-center">
      <div class="col-8 bg-dark rounded col-sm-6 d-flex justify-content-center  col-lg-4 my-3 border ">
          <img src="../images/<%-user.image%>" class=" sizing img-fluid" alt="image not available">
      </div>
  </div>
  <div class="row my-3 border rounded bg-dark text-light m-1 p-2">
      <h3>Hello, my name is <%- user.name %> <%- user.last %></h3>
      <div class="col-6">
          <h4 class="te">year : <%- user.year %></h4>
      </div>
      <div class="col-6">
          <h4><u>Branch</u> : <%- user.branch %> </h4>
      </div>
      <div class="col-6">
        <h4><u>College</u> : <%- user.college %> </h4>
      </div>
      <div class="col-6">
        <h4>Hometown : katni </h4>
      </div>
      <hr class="text-light">
      <h3>I play</h3>
      <ul class="ps-5">
          <% if(user.sports != "") { %>
              <% for(const element of user.sports){  %>
                <li>
                  <h5> <%- element %> </h5>
                </li>  
                <% } %>
                <% } %>
      </ul>
      <hr class="text-light">
      <h3>My Skills includes</h3>
      <ul class="ps-5">
          <% if(user.skills != "") { %>
              <% for(const element of user.skills){  %>
                <li>
                  <h5><%- element %></h5>
                </li>  
                <% } %>
                <% } %>
      </ul>
      <hr class="text-light">
      <h3>I also do</h3>
      <ul class="ps-5">
        <% if(user.extra != "") { %>
          <% for(const element of user.extra){  %>
            <li>
              <h5> <%- element %> </h5>
            </li>  
            <% } %>
            <% } %>
          </ul>

      <hr class="text-light">
      <h3>Clubs i am part of</h3>
      <ul class="ps-5">
          <% if(user.clubs != "") { %>
              <% for(const element of user.clubs){  %>
                <li>
                  <h5> <%- element %> </h5>
                </li>  
                <% } %>
                <% } %>
      </ul>
  </div>

</div>